*.svo
*.svo2
*.db
*.ply
*.obj
*.mtl
__pycache__/
tools/ZedSvo/build/
test_01/
data/
models/
*.avi
*.pgm
.history/

# Frontend build output
backend/static/

# Frontend dependencies
frontend/node_modules/